footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    div.footer__wrapper
        ul.footer__nav
            //- li: a works the same as a was indented in the next row
            li: a(href='#') About us
            li: a(href='#') Download apps
            li: a(href='#') Become a guide
            li: a(href='#') Careers
            li: a(href='#') Contact
        footer.footer__copyright &copy; by Coder McCody. All rights reserved.