extends base

block content
  main.main
    .form-wrapper.login-form
      //h2.heading-secondary Account Log in
      form.form--login
        // .form__group
        .form__row.form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__row.form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__row.form__group
          button.btn.btn--form Login