extends base

block content
  main.main
    form.form-wrapper.form--signup
      h2.heading-secondary Account Sign-up
      .form__row
        label.form__label(for='name') Name
        input#name.form__input(type='text', placeholder='your name', required)
      .form__row
        label.form__label(for='email') Email address
        input#email.form__input(type='email', placeholder='you@example.com', required)
      .form__row
        label.form__label(for='password') Password
        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
      .form__row
        label.form__label(for='confirmPassword') Confirm your password
        input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
      .form__row
        button.btn.btn--form Sign up