.user-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-large);
    margin: auto;
    width: 600px;

    @media (max-width: 950px) {
        width: 80%;
    }

    @media (max-width: 750px) {
        width: 95%;
    }
}

.user-view__content > .line__divider{
    @media (max-width: 750px){
        width: 85%;
    }
}

/* MENU LINKS*/
.user-view__menu {
    flex-grow: 1;
    width: 100%;
    border: solid calc(1px / 10) hsl(248, 19%, 40%, 20%);
    padding: var(--spacing-small);
    backdrop-filter: blur(32px);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow-small);

    @media (max-width: 950px) {
        padding: var(--spacing-small);
    }

    @media (max-width: 750px) {
    }
}
.side-nav {
    /*display: flex;*/
    /*justify-content: space-between;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    padding: 0;
    gap: var(--spacing-small);

    @media (max-width: 1300px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 500px) {
        /*grid-template-columns: 1fr 1fr;*/

    }
}

.side-nav a {
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: hsl(257, 9%, 61%, 0.1);
    border-radius: calc(var(--border-radius-large) - var(--border-radius-small));
    border: solid calc(1px / 10) hsl(248, 19%, 40%, 20%);

    color: var(--color-text);
    transition: var(--transition-medium);
    font-weight: 500;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        transition: var(--transition-fast);
        border: solid calc(1px / 10) hsl(248, 19%, 40%, 60%);
        background-color: hsl(257, 9%, 61%, 0.1);
        box-shadow: var(--shadow-mini);
    }

    & span {
        font-size: clamp(0.4rem, 2vw, 0.9rem);
        text-align: center;
    }

    @media (max-width: 1300px) {
        justify-content: center;
        flex-direction: column;

    }

    @media (max-width: 750px) {
        flex: 1;
        padding: var(--spacing-small);

        & span {
            font-size: 1rem;
        }
    }
}
.nav__item--icon {
    width: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    fill: var(--color-text);
    margin: 0 var(--spacing-small);

    @media (max-width: 1300px) {
        /*margin: 0 0 var(--spacing-small);*/
    }

    @media (max-width: 750px) {
        /*margin: 0 8px 0 0;*/
    }
}

.admin-nav {
    margin-top: var(--spacing-medium);
}
.admin-nav__heading {
    width: fit-content;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 auto var(--spacing-medium);
}

/* ACCOUNT SETTINGS*/
.user-view__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-medium);

    border: solid calc(1px / 10) hsl(248, 19%, 40%, 20%);
    backdrop-filter: blur(32px);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow-medium);

    padding: var(--spacing-large);

    @media (max-width: 950px) {
    }

    @media (max-width: 750px) {
        padding: var(--spacing-large) var(--spacing-small);
    }
}
.user-view__form-container {
    width: 80%;
}

.form-user-data, .form-user-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-medium);
}
/*.form__user-photo {*/
/*    !*height: 100%;*!*/
/*    height: 128px;*/
/*    border-radius: var(--border-radius-medium);*/
/*}*/

.form__photo-upload {
    position: relative;
}
.form__user-photo {
    height: 6rem;
    width: 6rem;
    border: solid calc(1px / 10) hsl(248, 19%, 40%, 20%);
    border-radius: var(--border-radius-small);
    margin-right: 2rem;
}

.form__upload {
    width: 0.1px;
    height: 0.1px;
    /*opacity: 0;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
}
.btn__upload {
    position: absolute;
    left: calc(6rem + var(--spacing-medium));
    bottom: 0;
    width: fit-content;
    padding: 2px 4px;
    border: solid calc(1px / 10) hsl(248, 19%, 40%, 20%);
    border-radius: var(--border-radius-small);
    background-color: hsl(257, 9%, 61%, 0.1);
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;

    &:hover {
        border: solid calc(1px / 10) hsl(248, 19%, 40%, 60%);
    }
}
.form__upload:focus + .btn__upload {
    transition: var(--transition-fast);
    border: solid calc(1px / 10) white;
    box-shadow: var(--shadow-small);
}