.footer__wrapper {
    /*width: 100%;*/
    flex: 1;
    max-height: 4rem;

    background-color: hsl(248, 19%, 40%, 0.5);
    backdrop-filter: blur(16px);
}
.footer {
    width: 80%;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*font-size: 0.7rem;*/
    font-size: clamp(0.7rem, 0.07rem + 2.67vw, 0.9rem);

    @media (max-width: 950px) {
        padding: 0;
    }

    @media (max-width: 650px) {
        width: 95%;
    }
}

.footer__logo {
    margin: 8px 6px;
    background-color: hsla(0, 100%, 100%, 0.8);
    height: 100%;
    line-height: 0;
    padding: 8px;
    border: solid 1px hsl(248, 19%, 40%, 60%);
    border-radius: var(--border-radius-small);

    & > img {
        height: 1.2rem;
    }

    @media (max-width: 950px) {
        display: none;
    }
}

.footer__wrapper--nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px 0;

    @media (max-width: 950px) {
        width: 950%;
        margin: auto;
        align-items: center;
    }
}

.footer__nav {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

    & a {
        color: white;
        text-decoration: none;
    }

    @media (max-width: 950px) {
        /*width: 100%;*/
        gap: var(--spacing-small);
    }
}


.footer__copyright {
    color: hsl(0, 100%, 100%, 0.7);
}