.form-wrapper {
    margin: auto auto;
    padding: var(--spacing-large);

    backdrop-filter: blur(32px);
    border-radius: var(--border-radius-large);
    border: solid calc(1px / 10) hsl(248, 19%, 40%, 20%);
    box-shadow: var(--shadow-medium);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-medium);
    width: 500px;
}

/*.form--login .form--signup {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    gap: var(--spacing-medium);*/
/*}*/
.form--login {
    /*width: 100%;*/
}
.form--signup {
    /*width: 100%;*/
}
.form__row {
    margin-bottom: var(--spacing-small);
    width: 100%;

    display: flex;
    flex-direction: column;
}

.form__input {
    width: 100%;
    background-color: hsl(0, 100%, 100%);
    border: solid calc(1px / 10) hsl(248, 19%, 40%, 20%);
    border-radius: var(--border-radius-small);
    padding: var(--spacing-small);

    color: inherit;
    font-weight: 400;
    font-family: inherit;

    &::placeholder {
        color: var(--color-muted);
    }
}
.form__label {
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.btn {
    width: fit-content;
    padding: var(--spacing-small) var(--spacing-large);

    font-weight: 600;
    color: var(--color-text);
    transition: var(--transition-slow);

    &:hover {
        transition: var(--transition-fast);
        border: solid calc(1px / 10) hsl(248, 19%, 40%, 60%);
        box-shadow: var(--shadow-small);
    }
}
.btn--form{
    margin: var(--spacing-medium) auto 0;
    border: solid calc(1px / 10) hsl(248, 19%, 40%, 20%);
    border-radius: var(--border-radius-small);
    background-color: hsl(257, 9%, 61%, 0.1);
}