/* TODO: Reduce size on scroll, remove logo */
.header {
    flex: 1;
    position: sticky;
    top: 0;
    max-height: 4rem;
    padding: var(--gap-small) var(--gap-medium);
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    background-color: hsl(248, 68%, 20%, 0.5);
    /*background-color: hsl(248, 19%, 40%, 0.3);*/
    backdrop-filter: blur(16px);
    /*border-radius: 0 0 1rem 1rem;*/

    isolation: isolate;
    z-index: 999;
}

.header__logo {
    height: 1.5rem;

    & > img {
        height: 100%;
    }
}

.nav {
    flex: 1;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav__el {
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition-duration: var(--transition-fast);

    &:hover {
        outline: solid 2px white;
    }

    & img+span {
        margin-right: 8px;
    }
}

.nav--user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav_el--profile {
    border: 2px solid white;
    border-radius: 1.25rem;

    &:hover {
        outline: none;
        transform: scale(101%);
        box-shadow: 0 2px 8px 2px hsl(0, 100%, 100%, 0.3);
        transition-duration: var(--transition-fast);
    }
}
.nav__user-img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 1rem;
    margin-right: 1rem;
}



