.card-container {
    /*border: solid darkslateblue;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: clamp(1.4rem, 2.5vw + 0.2rem, 2.5rem);
    /*padding: 2rem;*/

    /*background-color: var(--color-surface);*/
}

.card {
    /*outline: solid salmon;*/
    display: flex;
    flex-direction: column;
    overflow: hidden;

    /*background-color: var(--color-surface);*/
    backdrop-filter: blur(32px);
    border-radius: var(--border-radius-medium);
    border: solid calc(1px / 10) hsl(248, 19%, 40%, 20%);
    box-shadow: var(--shadow-small);
    transition: var(--transition-slow);

    &:hover {
        box-shadow: var(--shadow-medium);
        transform: scale(1.008);
        transition: var(--transition-fast);
    }
}

.card__header {
    position: relative;
}

.card__picture {
    position: relative;
    width: 100%;
    padding-top: calc(3 / 4 * 100%);
    overflow: hidden;
}
.card__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /*display: block;*/
}

.card__heading {
    position: absolute;
    right: 0;
    bottom: 8px;
    width: fit-content;
    padding: 0 16px 0 8px;
    background-color: hsl(248, 12%, 52%, 0.2);
    color: white;
    backdrop-filter: blur(8px);

    border-radius: 0.25rem 0 0 0.25rem;
}

.card__details {
    padding: var(--gap-medium);
}

.card__data-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.card__footer {
    padding: var(--gap-medium);
}

.card__icon {
    height: 1rem;
    width: 1rem;
}