@import 'reset.css';
@import 'header.css';
@import 'footer.css';
@import 'overview.css';
@import 'tour.css';
@import 'form.css';
@import 'account.css';

html {
    /* COLORS */
    --color-surface: hsl(35, 100%, 98%);
    --color-base: hsl(32, 57%, 95%);
    --color-overlay: hsl(28, 40%, 92%);
    --color-muted: hsl(257, 9%, 61%);
    --color-subtle: hsl(248, 12%, 52%);
    --color-text: hsl(248, 19%, 40%);

    --color-primary: hsl(189, 30%, 48%);
    --color-secondary: hsl(35, 81%, 56%);
    --color-accent: hsl(268, 21%, 57%);
    --color-warn: hsl(343, 35%, 55%);

    --color-highlight-low: hsl(25, 35%, 93%);
    --color-highlight-med: hsl(10, 9%, 86%);
    --color-highlight-high: hsl(315, 4%, 80%);

    --color-gray-dark: hsl(277, 5%, 27%);
    --color-gray-medium: hsl(277, 5%, 47%);
    --color-gray-light: hsl(277, 5%, 77%);


    /* OTHER VARS */
    --transition-medium: 0.25s;
    --transition-fast: 0.15s;
    --transition-slow: 0.35s;

    --border-radius-large: 2rem;
    --border-radius-medium: 1rem;
    --border-radius-small: 0.5rem;

    --spacing-large: 32px;
    --spacing-medium: 16px;
    --spacing-small: 8px;

    --shadow-mini: 0 1px 8px 1px hsl(268, 21%, 57%, 0.3);
    --shadow-small: 0 2px 8px 2px hsl(268, 21%, 57%, 0.3);
    --shadow-medium: 0 4px 16px 6px hsl(268, 21%, 57%, 0.3);
    --shadow-large: 0 6px 16px 8px hsl(268, 21%, 57%, 0.3);

    /* STYLES */
    font-family: 'Inter', sans-serif;
}

body {
    color: var(--color-text);

    background-image: url('./../svg/background-2.svg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main {
    flex: 1;
    height: 100%;
    width: 100%;
    margin: calc(var(--spacing-large) + var(--spacing-medium)) auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.heading-secondary {
    text-transform: uppercase;
    margin-bottom: var(--spacing-medium);
    text-align: center;
}

.line__divider {
    height: 1px;
    width: 100%;
    background-color: hsl(248, 19%, 40%, 20%);

    margin: var(--spacing-medium) 0;
}

.btn {
    width: fit-content;

    font-weight: 600;
    color: var(--color-text);
    transition: var(--transition-slow);

    &:hover {
        transition: var(--transition-fast);
        border: solid calc(1px / 10) hsl(248, 19%, 40%, 60%);
        box-shadow: var(--shadow-small);
    }
}

.alert {
    width: fit-content;
    position: absolute;
    top: var(--spacing-medium);
    left: 50%;
    transform: translateX(-50%);
    /*transform: translateY(-50%);*/
    z-index: 9999;
    color: var(--color-text);
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    border-radius: var(--border-radius-medium);
    padding: 1.6rem 8rem;
    box-shadow: var(--shadow-small);
    backdrop-filter: blur(32px);
    background-color: hsl(35, 00%, 100%, 0.5);

}
.alert--success {
    border: solid 2px hsl(157, 35%, 70%, 0.8);
}
.alert--error {
    border: solid 2px hsl(343, 35%, 50%, 0.8);
}