.tour__overlay {
    margin: auto;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: clamp(1.4rem, 2.5vw + 0.2rem, 2.5rem);

    @media (max-width: 950px) {
        width: 90%;
        grid-template-columns: 1fr;
    }
}

/* TOUR HEADER */
.section-header {
    height: 100%;
    position: relative;
    color: white;
    border-radius: 2rem;
    overflow: hidden;
    flex: 1;
    box-shadow: var(--shadow-small);
}

.header__hero {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.header__hero-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.heading-box {
    position: absolute;
    bottom: 16px;
    /*left: 50%;*/
    left: 16px;
    /*transform: translate(-50%);*/
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    border-radius: 1rem;

    backdrop-filter: blur(32px);
    /*outline: solid 1px hsl(0, 0%, 100%, 0.5);*/
}

.heading-box__group {
    display: flex;
    justify-content: space-around;
}

.heading-box__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-box__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
}

/* TOUR DETAILS, DESCRIPTION */
.section-description {
    display: flex;
    gap: var(--spacing-medium);
}

.overview-box, .description-box, .section-reviews {
    padding: var(--spacing-large) var(--spacing-medium);
    /*padding: var(--spacing-medium);*/
    border-radius: 2rem;
    border: solid calc(1px / 10) hsl(248, 19%, 40%, 20%);
    backdrop-filter: blur(16px);
    background-size: cover;
    box-shadow: var(--shadow-small);
}

.overview-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overview-heading {
    text-transform: uppercase;
    margin-right: var(--spacing-large);
    margin-left: var(--spacing-large);
    grid-column: span 2;
}

.overview-box__group {
    padding: var(--spacing-medium) var(--spacing-medium) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);

    &:nth-of-type(1) {
        padding: 0 var(--spacing-medium) var(--spacing-medium);
    }
}

.overview-box__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-text);
    margin-right: var(--spacing-medium);
}

.overview-box__img {
    height: 4rem;
    border-radius: var(--border-radius-medium);
}

.overview-box__detail {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.overview-box__label {
    font-weight: 500;
}

.tour__guide {
    display: flex;
}

.tour__guide--text {
    margin-left: var(--spacing-medium);
    display: flex;
    flex-direction: column;
}

.description-box {
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-large);
}

.description__text {
    margin-top: var(--spacing-small);
    font-size: 1.1rem;
}


.section-pictures {
    grid-column: span 2;
    display: flex;
    border-radius: var(--border-radius-large);
    overflow: hidden;
    box-shadow: var(--shadow-small);

    & img {
        display: block;
        max-width: 100%;
    }

    @media (max-width: 950px) {
        grid-column: span 1;
    }
}

/* MAP */
.section-map {
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow-small);
    position: relative;
    overflow: hidden;

    @media (max-width: 950px) {
        height: 300px;
        grid-area: 4 / 1 / 5 / 2;
    }
}

.marker {
    background-image: url('../img/pin.svg');
    background-size: cover;
    width: 28px;
    height: 35px;
    cursor: pointer;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
}

.mapboxgl-popup {
    display: none;
    max-width: 25rem;

    & .mapboxgl-popup-tip {
        border: none !important;
        background-color: hsl(248, 19%, 100%, 0.1) !important;
        backdrop-filter: blur(16px);
    }

    & .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Inter', sans-serif;
        padding: 1rem !important;
        font-size: 1rem;
        box-shadow: var(--shadow-small) !important;
        border: solid calc(1px / 10) hsl(248, 19%, 40%, 20%);
        border-radius: var(--border-radius-small) !important;
        background-color: hsl(248, 19%, 100%, 0.1) !important;
        backdrop-filter: blur(16px);
    }
}

/* DISPLAYED REVIEWS */
.section-reviews {
    grid-column: span 2;
    max-height: 550px;
    overflow-y: scroll;

    @media (max-width: 950px) {
        grid-column: span 1;
    }
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
    scrollbar-gutter: stable both-edges;

    @media (max-width: 950px) {
        grid-template-columns: 1fr;
    }
}

.reviews__card {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1.5rem auto;
    row-gap: var(--spacing-small);
    border-bottom: solid 1px hsl(248, 19%, 40%, 20%);
    padding: var(--spacing-medium);

    &:last-child, &:nth-last-child(2) {
        border-bottom: none;
    }

    &:nth-last-child(2) {
        @media (max-width: 950px) {
            border-bottom: solid 1px hsl(248, 19%, 40%, 20%);

        }
    }
}

.reviews__avatar-img {
    border-radius: var(--border-radius-medium);
    margin-right: var(--spacing-medium);
    width: 3rem;
    grid-area: 1 / 1 / 3 / 2;
    align-items: center;
    position: relative;
    top: 4px;
}

.reviews__user {
    grid-area: 1 / 2 / 2/ 3;
    font-size: 1rem;
}

.reviews__text {
    grid-area: 2/ 2 / 3/ 4;
}

.reviews__rating {
    grid-area: 1 / 3 / 2/ 3;
    justify-self: end;
    display: flex;
    align-items: center;
}

.reviews__star {
    width: 1rem;
    height: 1rem;
    position: relative;
    right: 4px;
}

.reviews__star--color {
    fill: var(--color-text);
}

.reviews__star--grey {
    fill: hsl(257, 9%, 61%, 0.6);
}